*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
/* MAIN SITE BODY LAYOUT-------------------------------------- */

.layout-header{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgb(255, 245, 234);
}


.layout-body{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 150px;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;

    
}

/* RESTAURANT CARD---------------------------------------- */

.res-img{
    margin: 5px;
    border-radius: 10px;
    height: 146.67px;
}
.res-card{
    width: 230px;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
}
.res-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    overflow: hidden;
}

.container :hover{
    background-color: rgb(231, 231, 231);
    cursor: pointer;
}

.container{
    display: flex;
}


/* HEADER NAVIGATION PANNEL ----------------------------------*/

.navigation{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.navigation-list{
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 50%;
    justify-content: space-around;
    font-weight: bold;
    font-size: 1rem;
}

svg{
    margin: 0 20px;
}

/* BODY STYLING---------------------------------- */

.restaurant-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.restaurant-cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

/* RESTAURANT FILTER CONTAINER--------------- */

.filter-container{
    display: flex;
    gap: 20px;

}
.filter-button{
    border-style: none;
    padding: 10px;
    border-radius: 30px;
    font-size: 1rem;
}

.filter-container :hover{
    cursor: pointer;
    background-color: rgb(231, 231, 231);

}






